.paginationBtns {
    display: flex;
    list-style: none;
    gap: 8px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .page-num {
    padding: 8px 12px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .page-num:hover {
    background-color: #eee;
  }
  
  .previousBtn,
  .nextBtn {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
  }
  
  .active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border-radius: 5px;
  }
  